span.titlehint {
    background: url("../../../images/mageinn/hint/q.png") no-repeat scroll 3px 0 transparent;
    background-size: 16px 16px;
    cursor: pointer;
    display: inline-block !important;
    height: 16px;
    margin-bottom: -3px;
    margin-left: 3px;
    margin-top: 0;
    width: 24px;
}

span.optionhint {
    background: url("../../../images/mageinn/hint/q.png") no-repeat scroll 3px 0 transparent;
    background-size: 16px 16px;
    cursor: pointer;
    display: inline-block !important;
    height: 16px;
    margin: -2px 4px;
    width: 24px;
    padding: 0 !important;
}

div.ahint-hld {
    display: none;
}

.attrhint-link {
    background: none;
    background-color: white;
    display: inline-block !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.attrhint-link-span {
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
}
.attrhint-link-span span.optionhint {
    margin: -3px 0;
}

@media only screen and (max-width: 770px) {
    span.optionhint {
        margin: -2px 4px !important;
    }
    .attrhint-link-span span.optionhint {
        margin: -3px 0 !important;
    }
    .attrhint-link {
        background-color: white !important;
    }
}